.messageContainer {
  padding:3px;
  border-radius: 3px;
}

.messageContainer_Self {
  padding:3px;
  border-radius: 3px;
}

.messageContainer_Welcome {
}

.generic {
}

.sender {
  color: #ff7f50;
  font-weight: bold;
}

.self {
  color:cadetblue;
}

.messageContext {
  color:white;
}

